/*   font-family: "Quicksand", serif; */

/*   font-family: "Raleway", serif; */

*{
    margin: 0;
    padding: 0;
}
/* shared style */
:root{
    --primary-color:rgba(17, 17, 17, 1);
    --txt-color:rgba(255, 255, 255, 1);
    --box-color:rgba(149, 178, 38, 1);
    --icon3-color:rgba(234, 76, 137, 1);
    --icon-color:rgba(59, 89, 152, 1);
    --icon1-color:rgba(221, 75, 57, 1);
}
.display-flex{
    display: flex;
}
.primary-color{
    color:rgba(254, 163, 1, 1);
}
.secondary-color{
    color: rgba(1, 172, 253, 1);
}
.third-color{
    color:rgba(5, 212, 223, 1);
}
.fourth-color{
    color:rgba(93, 88, 239, 1);
}


/* nav style start here */
.navbar{
    justify-content: space-around;
    margin: 20px auto;
}

.nav-logo{
    justify-items: center;
    align-items: center;
    gap: 11px;
    }
.l-title{
font-size: 2rem;
line-height: 30px;
font-weight: bold;
font-family: "Quicksand", serif;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
}
.btn{
background: rgba(254, 163, 1, 1);
color: var(--txt-color);
border: none;
outline: none;
padding: 10px 60px;
border-radius: 12px;
font-family: "Quicksand", serif;
font-weight: 600;
font-size: 1.25rem;
line-height: 30px;
}
/* banner section code start here */
.banner-sec{
justify-content: space-around;
}
.banner-left{
   max-width: 640px;
   margin-top: 122px;
}
.b-title{
    font-size: 3.5rem;
    line-height: 61px;
    font-weight: bold;
    font-family: "Quicksand", serif;}

.txt{
    color:rgba(254, 163, 1, 1);
} 
.txt-1{
    color: var(--primary-color);
}
.txt-2{
    color:rgba(1, 172, 253, 1)
}
.b-des{
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-size: 1.24rem;
    color:var(--primary-color);
    margin: 24px 0px;
}
.banner-btn{
    font-family: "Quicksand", serif;
    padding: 10px 47px;
    background: var(--primary-color);
    border: none;
outline: none;
font-family: "Quicksand", serif;
color:var(--txt-color);
border-radius: 12px;
font-family: "Quicksand", serif;
font-weight: 700;
font-size: 1.25rem;
}
.banner-right{

}
.banner-right img{
   width: 100%; 
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* standard curriculum section css start here */
.curriculum-sec{
background: url(../image/assets/bg.png);
background-repeat: no-repeat;
background-size:contain;
background-position:center ;
}
.curriculum-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}
.C-title{
font-size: 2.87rem;
line-height: 57px;
font-weight: bold;
font-family:"Quicksand", serif;
color:var(--primary-color)
}
.curriculum-cards{
max-width: 1160px;
margin: 0px auto;
display: grid;
grid-template-columns: repeat(3,1fr);
gap:28px;
align-items: center;
justify-items: center;
text-align: center;
}
.C-card{
margin-top: 80px;
width: 367px;
border-radius: 18px;
box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05);
}
#card-1{
border: 1px solid rgba(222, 245, 255, 1);
background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
}
#card-2{
 border: 1px solid rgba(255, 244, 220, 1);
 background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);   
}
#card-3{
   border: 1px solid rgba(242, 232, 255, 1);
   background: linear-gradient(to bottom, #EEE1FF, #FFFFFF); 
}
.card-img{
    padding: 52px 0px 32px 0px;
}
.card-title{
font-size: 1.5rem;
font-family: "Quicksand", serif;
line-height: 30px;
font-weight: bold;
color: var(--primary-color);

text-align: center;
}
.card-des{
font-size: 1rem;
font-weight: 500;
font-family: "Raleway", serif;
line-height: 28px;
padding: 33px 31px;
text-align: center;
}
.r-more{
    margin-bottom: 58px;
}
.card-more{
    color: rgba(1, 172, 253, 1);
    margin-bottom: 58px;
} 
.card-more1{
    color:rgba(254, 163, 1, 1);
    margin-bottom: 58px;
} 
.card-more2{
    color:rgba(93, 88, 239, 1);
    margin-bottom: 58px;
}
.card-button{
    gap:10px;
    display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px auto;
        width: 130px;
        height: 60px;
    }
.circle1, .circle2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   background: rgba(254, 163, 1, 1);
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.circle1 i, .circle2 i{
color: var(--txt-color);
font-size: 1.5rem;
line-height: 24px;
}
/* Our Story section css add here */
.story-sec{
background:
linear-gradient( 
    0deg,
rgba(254, 163, 1, 0.3) ,
rgba(255, 255, 255, 0.3)
), 
url(../image/assets/bg.png);
background-repeat: no-repeat;
background-size: cover;
max-width: 1440px;
padding-bottom: 100px;
}
.story-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}
.S-title{
font-weight: bold;
line-height: 57px;
font-size: 2.8rem;
font-family:"Quicksand",serif;
}
.story-cards{
max-width: 1160px;
margin: 80px auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2, 1fr);
}
#S-card1{
    max-width: 540px;
    grid-row: span 3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;  
    margin-right: 19px;
    background: white;
    height: 630px;
}
.m-btn{
    padding: 7px 18px;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: var(--txt-color);
    border-radius: 47px;
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    position: relative;
    margin-top: -34px;
    margin-left: 114px;
    margin-left: 29px;
    top: -10px;
}
.s-card1-img img{
width:100%;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
}
.s-card1-title{
    font-weight: bold;
    line-height: 38px;
    font-family: "Quicksand",serif;
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 58px 38px 47px 38px;
}
.s-card1-des{
   font-size: 1rem;
   line-height: 28px;
   font-weight: 500;
   font-family: "Raleway",serif; 
   color:rgba(102, 102, 102, 1);
   padding: 0px 68px 34px 38px;
}

#S-card2, #S-card3, #S-card4, #S-card5{
    max-width: 347px;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 19px;
    background: white;
    height: 306px;
}
.s-card2-img img, .s-card3-img img, 
.s-card4-img img, .s-card5-img img{
width:100%;
border-top-left-radius: 16px;
border-top-right-radius: 16px;}
.S-card h3{
    font-size:1rem;
    font-weight: bold;
    font-family: "Quicksand",serif;
    line-height: 28px;
    color:var(--primary-color);
    padding: 0px 38px 10px 38px;
}
.story-btn{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 0 auto;
}
.S-btn{
    padding: 10px 47px;
    background: var(--primary-color);
    border: none;
outline: none;
color:var(--txt-color);
border-radius: 12px;
font-family: "Quicksand", serif;
font-weight: 700;
font-size: 1.25rem;
}

/* Responsive code start here */
@media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;    
    }
    .nav-links, .nav-btn, .l-title{
       display: none;  
    }
    .banner-sec{
        flex-direction: column-reverse;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    /* banner section end here */

.curriculum-cards{
    grid-template-columns: 1fr;
}
.story-sec{
    margin-bottom: 20px;
}
#S-card1 {
    display: none;
}
.story-cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 438px;
    margin: 20px auto;
}
#S-card2, #S-card3, #S-card4, #S-card5 {
    max-width: 200px;
    border-radius: 16px;
    margin-bottom: 19px;
    background: white;
    height: 269px;
}
.S-card h3 {
    padding: 0px 4px 10px 8px;
}
.m-btn {
    padding: 7px 9px;
    font-size: 0.7rem;
    line-height: 22px;
    margin-top: -34px;
    margin-left: 114px;
    margin-left: 29px;
    top: -14px;
}

}
